@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.269 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.269 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.269 0 0);
  --primary: oklch(0.5283 0.3469 296.26);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.922 0 0);
  --secondary-foreground: oklch(0.145 0 0);
  --muted: oklch(0.9702 0 0);
  --muted-foreground: oklch(0.439 0 0);
  --accent: oklch(0.9702 0 0);
  --accent-foreground: oklch(0.269 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.87 0 0);
  --ring: oklch(0.5283 0.3469 296.26);
  --chart-1: oklch(0.5283 0.3469 296.26);
  --chart-2: oklch(0.8976 0.0723 297.97);
  --chart-3: oklch(0.7065 0.2326 297.72);
  --chart-4: oklch(0.8172 0.1393 298.04);
  --chart-5: oklch(0.9451 0.0372 298.98);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.269 0 0);
  --sidebar-primary: oklch(0.5283 0.3469 296.26);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.985 0 0);
  --sidebar-accent-foreground: oklch(0.269 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.5283 0.3469 296.26);
  --base-50: oklch(0.985 0 0);
  --base-100: oklch(0.9702 0 0);
  --base-200: oklch(0.922 0 0);
  --base-300: oklch(0.87 0 0);
  --base-400: oklch(0.708 0 0);
  --base-500: oklch(0.556 0 0);
  --base-600: oklch(0.439 0 0);
  --base-700: oklch(0.371 0 0);
  --base-800: oklch(0.269 0 0);
  --base-900: oklch(0.205 0 0);
  --base-950: oklch(0.145 0 0);
  --base-1000: oklch(0.106 0 0);
  --primary-50: oklch(0.9731 0.0187 298.83);
  --primary-100: oklch(0.9451 0.0372 298.98);
  --primary-200: oklch(0.8976 0.0723 297.97);
  --primary-300: oklch(0.8172 0.1393 298.04);
  --primary-400: oklch(0.7065 0.2326 297.72);
  --primary-500: oklch(0.6134 0.3124 296.62);
  --primary-600: oklch(0.5283 0.3469 296.26);
  --primary-700: oklch(0.4928 0.3284 295.84);
  --primary-800: oklch(0.4343 0.278 296.59);
  --primary-900: oklch(0.3806 0.2258 297.67);
  --primary-950: oklch(0.2861 0.176 295.15);
  --primary-1000: oklch(0.2213 0.1427 293.43);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.922 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.922 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.922 0 0);
  --primary: oklch(0.5283 0.3469 296.26);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.371 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.87 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.922 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.269 0 0);
  --input: oklch(0.371 0 0);
  --ring: oklch(0.5283 0.3469 296.26);
  --chart-1: oklch(0.5283 0.3469 296.26);
  --chart-2: oklch(0.8976 0.0723 297.97);
  --chart-3: oklch(0.7065 0.2326 297.72);
  --chart-4: oklch(0.8172 0.1393 298.04);
  --chart-5: oklch(0.9451 0.0372 298.98);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.922 0 0);
  --sidebar-primary: oklch(0.5283 0.3469 296.26);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.922 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.5283 0.3469 296.26);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
